* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
  }
  
  /*-------- home page --------*/

  .herobutton {
    border: none;
    outline: none;
    width: 20%;
    padding: 15px 0;
    padding-left: 8px;
    padding-right: 8px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #603bbb;
    cursor: pointer;
  }
  
  .herobutton:hover {
    background: #c9c422;
    transition: 0.3s;
  }

  .home {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(
      ellipse at left bottom,
      rgba(22, 24, 47, 1) 0%,
      rgba(38, 20, 72, 0.9) 59%,
      rgba(17, 27, 75, 0.9) 100%
    );
    color: #fff;
    margin: 0; 
    overflow: hidden;
    position: fixed;
  }

  .home .text {
    position: absolute;
    top: 35%;
    left: 25%;
    padding-bottom: 1rem;
  }

  .home .text #one {
    font-weight: 700;
    font-size: 62px;
    padding-top: 1rem;
  }

  .home .text #two {
    font-weight: 400;
    font-size: 16px;
  }

  .picture{
    width: 30%;
    height: 30%;
    position: absolute;
    left: 51%;
    top: 36%;
  }

  /*-------- login screen --------*/
  
  /*-------- dashboard --------*/

  .hero {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(
      ellipse at left bottom,
      rgba(22, 24, 47, 1) 0%,
      rgba(38, 20, 72, 0.9) 59%,
      rgba(17, 27, 75, 0.9) 100%
    );
  }
  
  .hero nav {
    background: #603bbb;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero nav h2 {
    color: #fff;
    font-size: 25px;
    padding-top: 10px;
  }
  

  
  .hero nav button {
    width: 86px;
    padding: 8px 0;
    background: #3a2b58;
  }

  /*-------- images --------*/
  
  .bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .overlay-text {
    color: white;
    font: 400 20px/25px "Poppins", Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.4);
    padding: 3px;
  }
