
.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-text {
  color: white;
  font: 400 20px/25px "Poppins", Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.4);
  padding: 3px;
}
